<li class="user-like-member">
  <% if user.image.attached? %>
    <%= image_tag user.image, class: "user-like-image" %>
  <% else %>
    <%= image_tag "random#{user.id % 5}.png", class: "user-like-image" %>
  <% end %>
  <div class="user-like-name"><%= link_to user.nickname, user_path(user.id) %></div>
</li>