#article-title{
  font-size: 20px;
}

#search-result{
  position: absolute;
}

.child{
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.child+.child{
  border-top: 3px dotted gray;
}

#input-sample{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
}