.group-index{
  width: calc(100% - 300px);
}

.groups{
  overflow: scroll;
  padding: 20px 30px;
  height: 300px;
  background-color: #e6e6e6;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.head-text{
  width: 100%;
  background-color: #333333;
  color: #eeeeee;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.group{
  display: flex;
  width: 30%;
  margin-bottom: 30px;

}

.group-author-image{
  background-color: white;
  box-sizing: border-box;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.name-and-author{
  width: calc(100% - 60px);
}

.group-name, .group-author{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}