.user-like-box{
  text-align: center;
  width: 100%;
  border:none;
  font-size: 20px;
  background-color: inherit;
}

.user-like-box:hover{
  cursor: pointer;
  opacity: 0.5;
}

.user-like-submit{
  border: none;
  background-color: #e6e6e6;
}

.user-like-submit:active{
  border: none;
}